node_modules
.env
.env.*
!.env.example
.next
dist
build
.turbo
.expo
.expo-shared
*.log
.DS_Store
coverage
.pnpm-debug.log*
.eslintcache
.vercel
.output
.parcel-cache
ios/Pods
ios/build
android/build
android/app/build
